@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    padding: 20px;
}

h1 {
    color: rgb(222, 54, 24);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

a {
    color: rgb(12, 114, 238);
    font-size: 20px;
    font-weight: bold;
    display: block;
}

input {
    border: 2px solid rgb(34, 35, 34);
    padding: 4px;
    display: block;
    margin: 6px 0;
}

label {
    font-weight: bold;
    font-size: 20px;
}

footer a {
    padding: 10px;
    background-color: rgb(242, 216, 22); 
}